<!DOCTYPE html>
<html lang="en">

<head>
  <!-- META SECTION -->
  <title>Add Book </title>

  


  

</head>

<body>


  <div class="home-content" style="background-color: rgb(255, 255, 255);">


    <div class="container">
     
      <div class="container mt-4">
         {{#if message}}
          <div class="alert alert-success alert-dismissible fade show" id="alertdiv" role="alert">
              <span class="alert-icon"><i class="ni ni-like-2"></i></span>
              <span class="alert-text">{{message}}</span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
      {{/if}}
        <div class="card">
          <div class="card-header">
            Add Books
          </div>

          <div class="card-body">
            <form action="/addbook/" method="post" id="addbooks">
              <div class="form-group">
                <label for="isbn">Book ISBN</label>
                <input type="text" class="form-control" id="isbn" name="isbn" placeholder="9788131510353">

              </div>
              <div class="form-group">
                <label for="title">Title</label>
                <input type="title" class="form-control" id="title" name="title" placeholder="Java Programming">

              </div>
              <div class="form-group">
                <label for="edition">Edition</label>
                <input type="text" class="form-control" id="edition" name="edition" placeholder=" 1st Edition, 2009">

              </div>
              <div class="form-group">
                <label for="copies">Total Copies</label>
                <input type="number" class="form-control" id="copies" name="copies" placeholder="5">

              </div>

              <div class="form-group">
                <label for="author">Authors</label>
                <input type="text" class="form-control" id="author" name="author">
              </div>
              <div class="form-group">
                <label for="publisher">Publisher</label>
                <input type="text" class="form-control" id="publisher" name="publisher">
              </div>
              <div class="form-group">
                <label for="publisher">Book url</label>
                <input type="text" class="form-control" id="url" name="url">
              </div>




              <button type="submit" class="btn btn-primary">Submit</button>
            </form>

          </div>
        </div>

      </div>



    </div>
  </div>

 






<script>
  setTimeout(function() {
    $('#alertdiv').fadeOut('fast');
}, 2000); // <-- time in milliseconds
</script>
</body>

</html>